/*-------------  рамки. Позже - убрать-------------*/
.userMenuContainer, .upMenu, .catalogContainer, .siteContainer,
.searchGoods, .goodsContainer, .topSale, .topSaleContainer, .reviewContainer,
.footer {
    /*     border: 1px dashed darkred;*/
}

.hidden {
    /*display: none;*/
}

/*------------------------------------------------------------------*/
body {
    background-color: #e0f4ef;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

h2, h1 {
    padding-left: 10px;
    padding-top: 10px;
    margin: 0;

}

.siteContainer {
    width: 1024px;
    margin: 0 auto;
    background-color: #cde1dc;
}

.goodsContainer, .topSaleContainer,
.catalogContainer, .mainCatalog,
.reviewContainer {
    background-color: #e6faf5;
}

.headerContainer .sawLine {
    height: 8px;
    background: url("../img/tri8top.png") repeat-x;
    background-color: #e6faf5;
}

.copyRight .sawLine {
    height: 8px;
    background: url("../img/tri8bottom.png") repeat-x;
    background-color: #e6faf5;

}

.headerContainer {
    min-height: 115px;
    background-color: #e6faf5;
    /*padding-top: 10px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0px;
	*/
}

.header {
    /*background-color: #e6faf5;
    height: 100px;
	/**/
}

.titleSite {
    float: left;
    width: 400px;
    padding-left: 10px;
    color: #553e34;
}

.titleSite b {
    color: green;
}

.userMenuContainer {
    float: right;
    width: 550px;
    padding: 0 10px;

}

.userMenu {
    margin: 5px auto;
    list-style: none;
    text-align: center;
}

.userMenu li {
    display: inline-block;
    margin-right: -5px;
    width: 100px;
    vertical-align: middle;
}

.userMenu li > a {
    display: block;
    padding: 2px 0;
    color: #795a4d;
    text-decoration: none;
    border-left: 1px solid #E5E5E5;
}

.userMenu li:first-child a, .upMenu li:first-child a {
    /*  еле победил  */
    border-left: none;
}

.searchGoods {
    float: right;
    padding: 10px;
}

.searchGoods input:first-child {
    width: 399px;
    height: 30px;
}

input.find {
    position: relative;
    top: 4px;
}

/*----------------------------------*/

.store {
    clear: both;
    height: 740px;
    margin: 0;
    padding: 0;
}

.upMenuContainer {

}

.upMenu {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    background-color: #553e34;

    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
}

.upMenu li {
    display: inline-block;
    width: auto;
}

.upMenu a {
    display: block;
    margin: 0 auto;
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    border-left: 2px solid #48342a;
}

.leftBlock {
    float: left;
    width: 235px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.centerBlock {
    float: right;
    min-height: 680px;
    margin-bottom: 10px;
}

/*====================================*/

.reviewContainer {
    /*width: 204px;*/
    height: 215px;
    margin-top: 10px;
    padding: 10px;
}

/*====================================*/

.mainCatalog {
    width: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainCatalog a {
    display: block;
    margin-bottom: -1px;
    padding: 8px 14px;
    color: #795a4d;
    text-decoration: none;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}

.mainCatalog a:hover,
.upMenu a:hover {
    background: #F5F5F5;
    color: green;
}

.userMenu a:hover {
    text-decoration: underline;
}

.privateMenu a:hover {
    text-decoration: none;
    background-color: #f5f5f5;
    color: green;
}

.searchGoods a:hover {
    background: #F5F5F5;
    color: green;
}

.mainCatalog > li {
    position: relative;
}

.mainCatalog .subCatalog {
    position: absolute;
    top: 5px;
    left: 180px;
    z-index: 10;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fcf8e3;
}

.subCatalog {
    display: none;
}

.mainCatalog > li:hover .subCatalog,
.userMenu > li:hover .privateMenu {
    display: block;
}

/*==============================================*/

.goodsContainer {
    width: 780px;
    height: 680px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

.item {
    position: relative;
    display: block;

    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;

    width: 760px;
    height: 670px;
}

.item img {
    display: block;
    width: 760px;
    height: 580px;
    margin: 10px auto;
    /*padding-top: 10px;*/

    -webkit-box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.25);

}

.item .addToCart a {
    position: absolute;
    left: 10px;
    bottom: 80px;
    padding: 8px 14px;
    color: white;
    text-decoration: none;
    border: 1px solid #E5E5E5;
    background-color: #068025;
}

/*==============================================*/

.footer {
    /*clear: both;*/
    position: absolute;
    /*bottom: 0;*/
    width: inherit;
    height: 40px;
    background-color: inherit;
    /*#f5f5f5;*/
    text-align: center;
}

.topSaleContainer {
    height: 380px;
    padding-bottom: 10px;
}

.topSale {
    display: block;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
}

.topSale li {
    position: relative;
    display: inline-block;
    -webkit-box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.25);
    width: 160px;
    margin: 10px;
    padding: 5px;
    height: 290px;
}

.topSale li .addToCart a {
    position: absolute;
    height: 18px;
    bottom: 50px;
    left: auto;
    padding: 8px 14px;
    color: white;
    text-decoration: none;
    border: 1px solid #E5E5E5;
    background-color: #068025;
}

.topSale img {
    width: 160px;
    height: 130px;
}

/*================================================*/

/*.copyRight {*/
/*text-align: center;*/
/*min-height: 28px;*/

/*}*/

/*================================================*/
/*================================================*/

/*#formLogin {*/
/*display:none;*/
/*}*/

.formLogin {
    position: absolute;
    z-index: 5;
    left: 45%;
    top: 40px;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    display: none;
    width: 220px;
    background-color: #fcf8e3;
    margin: 0 auto;
}

.formLogin input {
    height: 24px;
    margin: 5px;
}

#closeFormLogin {
    display: block;
    text-align: right;
    text-decoration: none;
}

.warning {
    background-color: greenyellow;
    padding: 20px;
    text-align: center;
}

.userForm {
    background-color: #e6faf5;
    padding: 10px;
}

.userForm label {
    padding: 8px;
    width: 200px;
    display: inline-block;

}

.userForm input {
    display: inline-block;
    left: 150px;
    width: 300px;
    padding: 8px;
}

.submitButton {
    padding: 10px;
    background-color: #553e34;
    color: white;
}

.submitButton:hover {
    color: green;
}

.headerEditor {
    background-color: #553e34;
    padding: 5px;
    text-align: center;
    color: white;
}

.privateMenu {
    position: absolute;
    z-index: 10;
    top: 35px;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
    display: none;
    background-color: #fcf8e3;
    padding: 0;
    margin: 0;
}

.privateMenu li {
    list-style: none;
    width: 120px;
    margin: 0;
    display: block;

}

.privateMenu li > a {
    border: none;
    text-align: left;
    display: block;
    padding: 8px 14px;
}

.privateMenu li:last-child {
    border-top: thin solid #e5e5e5;
}










