/*-------------  рамки. Позже - убрать-------------*/
.userMenuContainer, .upMenu, .catalogContainer, .siteContainer,
.searchGoods, .goodsContainer, .topSale, .topSaleContainer, .reviewContainer,
.footerContainer {
    /* border: 1px dashed darkred; */
}

body {
    background-color: #e0f4ef;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

h1 {
    padding-left: 10px;
    padding-top: 10px;
    margin: 0;
}

.siteContainer {
    width: 1024px;
    margin: 0 auto;
    background-color: #e6faf5;
}

.titleSite {
    float: left;
    width: 400px;
    padding: 10px;
    color: #553e34;
}

.titleSite b {
    color: green;
}

.store {
    clear: both;
    margin: 0;
    padding: 0;
}

.upMenu {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    background-color: cornflowerblue;

    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
}

.upMenu li {
    display: inline-block;
    width: auto;
}

.upMenu a {
    display: block;
    margin: 0 auto;
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    border-left: 2px solid lightblue;
}

.upMenu a:hover {
    background: #F5F5F5;
    color: green;
}

.menuEditor {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*--------------------------------------------------*/
.mainCatalog {
    margin: 10px;
    padding: 0;
    color: #553e34;
    display: block;
    position: relative;
    width: 60%;
    list-style: none;

}

.mainCatalog li h4, .subCatalog li h5 {
    /*background: #cde1dc;*/
    background: #ddf3fe;

    padding: 10px;
}

.subCatalog li ul li:nth-child(odd) p {
    /*background: #a4d2c8;*/
    background: #defff8;
    padding: 5px;
}

.subCatalog li ul li:nth-child(even) p {
    /*background: #aedad0;*/
    background: #ddf3fe;
    padding: 5px;
}

.mainCatalog li,
.subCatalog li ul li {
    position: relative;
}

.subCatalog li {
    list-style: none;
}

.formItemName {
    width: 85%;
    height: 30px;
}

/*--------------------------------------------------*/

.myMenu > li {
    display: inline-block;
    width: auto;
    margin: 0 auto;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border: 1px solid #48342a;
    background-color: #553e34;
    position: relative;
}

.myMenu > li:hover {
    background-color: #F5F5F5;
    color: #795a4d;
}

.newItemMenu {
    display: inline-block;
}

.newItemMenu a {
    color: lightcoral;
    text-decoration: none;
}

.newItemMenu a:hover {
    color: red;
}

/*--------------------------------------------------*/

.controls {
    display: none;
}

.myMenu > li:hover .controls {
    display: block;
}

/*--------------------------------------------------*/
.controls {
    position: absolute;
    width: 150px;
    text-align: center;
    background: #FCF8E3;
    top: 20px;
    left: 20px;
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style: none;
}

.goodsControls {
    top: 10px;
    left: 20px;
    list-style: none;
}

.controls li a {
    padding: 5px;
    color: #795a4d;
    text-decoration: none;
    border: 1px solid #48342a;
    background-color: #FCF8E3;

}

.controls a:hover {
    background: #F5F5F5;
    color: red;
}

.controls li a {
    display: block;
}

.goodsControls li {
    display: inline-block;
    font-weight: normal;
    padding: 3px 12px 1px;

    border-right: thin dotted royalblue;
    border-bottom: thin dotted royalblue;
    border-left: thin dotted royalblue;
}

 .goodsControls li {
    background-color: inherit;
    /*background-color: #cafff3;*/

}

.goodsControls li a {
    text-decoration: none;
}

.goodsControls li :hover {
    color: #795a4d;
}

h5, h4, .subCatalog ul li p {
    margin-bottom: 0;
    margin-top: 5px;
}

/*================================================*/

.copyRight {
    margin-top: 50px;
    text-align: center;
    min-height: 28px;
}
















